
@{
    ViewData["Title"] = "UserBank";
}
@model UserBankStatusGetModel

@{var balance = Model.TakenMoney - Model.ReportedMoney;}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Taken Money:</th>
            <th scope="col">Reported Money:</th>
            <th scope="col">Not reported value:</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>@Model.TakenMoney</td>
                <td>@Model.ReportedMoney</td>
                <td>@balance</td>
            </tr>
    </tbody>
</table>

<form asp-controller="Bank" asp-action="ReportMoney" method="post">
    <input type="number" step="0.1" name="Value" range="1,@balance" value=@balance />
    <input type="hidden" name="userId" value=@Model.UserId />
    <button class="button-return" type="submit">Report</button>
</form>
