/WorkDiary/WorkDiary/bin
/WorkDiary/WorkDiary/obj
/WorkDiary/WorkDiary.Database/bin
/WorkDiary/WorkDiary.Database/obj
/WorkDiary/WorkDiaryDB/WorkDiaryDB/bin
/WorkDiary/WorkDiaryDB/WorkDiaryDB/obj
/WorkDiary/WorkDiaryDB/WorkDiaryWebApp/bin
/WorkDiary/WorkDiaryDB/WorkDiaryWebApp/obj
/WorkDiary/WorkDiaryDB/WorkDiaryCore/bin
/WorkDiary/WorkDiaryDB/WorkDiaryCore/obj
/WorkDiary/WorkDiaryDB/bin
/WorkDiary/WorkDiaryDB/obj
/WorkDiary/WorkDiaryWebApp/bin
/WorkDiary/WorkDiaryWebApp/obj
/WorkDiary/takeIDentity
