@{
    ViewData["Title"] = "Client";
}
@model ClientInfoModel

<table class="table">
    <thead>
        <tr>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">BirthDay</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>@Model.FirstName</td>
                <td>@Model.LastName</td>
                <td>@Model.BirthDay</td>
                <td>@Model.Email</td>
                <td>
                    <a href="/Income/CreateIncome?clientId=@Model.Id" class="btn btn-primary" role="button">Work</a>
                    <a href="/Income/ShowHistoryOfClient?clientId=@Model.Id" class="btn btn-primary" role="button">History</a>
                </td>
            </tr>
    </tbody>
</table>
