@{
    ViewData["Title"] = "Clients";
}
@model ListFromClients

<div class="tableFixHead">
    <table class="table table-striped">
         <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Select</th>
            <th scope="col">AdminAction</th>
        </tr>
    </thead>
        <tbody>
            @{
                int count = 0;
            }
            @foreach (var client in Model.Clients)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@client.FullName</td>
                    <td>@client.Email</td>
                    <td><a href="/Client/Client?clientId=@client.Id" class="btn btn-primary" role="button">Select</a></td>
                    <td><a href="/Client/EditClient?clientId=@client.Id" class="btn btn-danger" role="button">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>