<h1 style="text-decoration:underline">All Users Incomes Preview</h1>
<br />
@model List<Income>

@{
    int count = 0;
}

<div>
    <text><pre> #   Income Description</pre></text>
</div>
<div class="scroll-admin">
    <table class="table table-striped">
        <tbody>
            @foreach (var i in Model)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@i.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br/>






