@{
    ViewData["Title"] = "Users";
}

@model List<ShowUserInfoModel>

<div class="scroll-all">
<table class="table table-striped">
    <thead>
        <tr class="static-radial">
            <th class="th-static" scope="col">#</th>
            <th class="th-static" scope="col">Name</th>
            <th class="th-static" scope="col">Username</th>
            <th class="th-static" scope="col">Roles</th>
            <th class="th-static" scope="col">AdminAction</th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
        }
        @foreach (var user in Model)
        {
            count++;
            <tr>
                <th scope="row">@count</th>
                <td>@user.FullName</td>
                <td>@user.Username</td>
                <td>@string.Join(", ", user.Roles)</td>
                <td>
                    <a href="/Admin/Admin/EditUser?userId=@user.UserId" 
                       class="btn" 
                       style="background-image: radial-gradient(white, white, blue);" 
                       role="button">
                       Edit</a> </td>
            </tr>
        }
    </tbody>
</table>
</div>
