<h1>here will be displayed UserIncomes</h1>
@model List<Income>

@{
    int count = 0;
}

<form>
   
    <a asp-controller="Income" asp-action="UserIncomes" class="button-return">NotReported</a>
    <a asp-controller="Income" asp-action="UserIncomesHistory" class="button-return">History</a>

</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Income Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            count++;
            <tr>
                <th scope="row">@count</th>
                <td>@i.Description</td>
            </tr>
        }
    </tbody>
</table>

 
@if(@count > 0 && ViewBag.Show == "Unreported")
{
    <div>
     <a asp-controller="Income" asp-action="ReportAllUserIncomes" class="button-pay">ReportAll</a>
    </div>
}



