@{
    ViewData["Title"] = "Incomes";
}
<h1 style="text-decoration:underline">Your Incomes Preview</h1>
<br />
@model List<Income>

@{
    int count = 0;
}

<form>
    <a asp-controller="Income" asp-action="UserIncomes" class="button-return">MyDiary</a>
    <a asp-controller="Income" asp-action="UserIncomesHistory" class="button-return">History</a>
</form>
<br />
<div>
    <text><pre> #   Income Description</pre></text>
</div>
<div class="scroll">
    <table class="table table-striped">
        <tbody>
            @foreach (var i in Model)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@i.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br/>



@if (@count > 0 && ViewBag.Show == "Unreported")
{
    <div>
        <a asp-controller="Income" asp-action="CleanUserDiary" onclick="return confirmation()" class="button-pay">CleanDiary</a>
    </div>
}



