@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="scroll-all"
    <text>
   <h6>Електронен работен дневник за управление на извършени услуги (Procedures)</h6> <br />
   -Регистрирай своите услуги<br />
   -Регистрирай свойте клиенти<br />
   -Попълвай дневник за ивършени услуги<br />
   -Автоматично регистриране на постъпленията (Incomes)<br />
   -Отчитане на постъпленията<br />
   -История на постъпленията и направените услуги (Diary)<br />
   -Редактиране на киенти и услуги<br /><br />
   
   Роли<br />
   1) Admin - първият регистрирал се<br />
   2) Guest - всяка следваща регистрация<br />
   3) User - Упълномощен Guest за работа с платформата<br /><br />

   Логика<br />
   Администратора на сайта е главното лице на бизнеса<br />
   -Той има достъп до информация за всички извършени услуги и плащания<br />
   -Дава права за работа със платформата<br />
   -Въвежда и редактира услуги(процедури)<br /><br />

   Юзър на платформата е регистрирано лице, което има реална работна позиция в бизнеса<br />
   -Има собствен дневник и архив<br />
   -Има собствена банка - при отчитане на пари, то те се прехвърлят в главната банка(достъпна само от администратор)<br />
   -Добавя нови клиенти и може да ги редактира<br />
   -Работи с клиенти, като попълва индивидуалната за всеки клиент VisitBag клетка.<br /><br />

   Гост на платформата е регистрирано лице, което няма разрешение за работа от Администратора<br />
   -Има достъп до информация за предлаганите услуги от бизнеса<br /><br />

   Бъдещи възможности на платформата:<br />
   -Автоматично изпращане на оферти и промоции към активни клиенти по email(примерно за рожденният им ден).<br />
   -Регистриране и справка на разходи(Outcomes)
   <br /><br /><br /><br /><br /><br /> <br /><br /><br /><br /><br /><br />
   Вихрен Стефанов - 0899141810
    </text>
    </div>
</div>
