@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h4>Тази платформа е с обучителни цели. Въвежданата информация в нея не се използва за други цели, освен за тестване на функционалности. </h4>
