<h1 class="text-center mt-2">Please, fullfill below form to create new Procedure!</h1>
<form asp-controller="Procedure" asp-action="AddProcedure" method="post">

         <div class="form-floating mb-3">
          <input type="text" name="Name" class="form-control" id="floatingInput">
          <label for="floatingInput">Procedure Name</label>
        </div>
        
        <div class="form-floating mb-3">
        <textarea style="white-space: pre-wrap" name="Description" class="form-control"  id="floatingInput"></textarea>
        <label for="floatingTextarea">Description</label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" name="Price" class="form-control" id="floatingInput">
          <label for="floatingInput">Price</label>
        </div>

        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="submit">Create</button>
        </div>
</form>
